.countdown {
    text-align: center;
    color: white;
    background: #0e091b;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .countdown h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .countdown span {
    font-size: 20px;
    margin: 0 5px;
    display: inline-block;
  }
  