.countdown {
    text-align: center;
    color: var(--primary);
    padding-bottom: 5px;
  }
  
  .countdown h2 {
    margin-bottom: 20px;
    font-size: 24px;
    display: inline;

  }
  
  .countdown span {
    font-size: 20px;
    
    margin: 0 5px;
    display: inline;
}
  