@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", helvetica;
}

:root {
	--mainColor: #1E1E1E;;
	--mainColorLight: #5767aa;
	--secondaryColor: rgb(43, 219, 69);
	--textColor: #eee;
}
.background-colour {
	background-color: var(--mainColor);
}

.highlight-color {
    color: var(--secondaryColor);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 15vh;
	padding: 0;
	color: var(--textColor);
	background-color: var(--mainColor);
}

nav a {
	margin: 0 2rem;
	color: var(--textColor);
	transition: all .2s;
	text-decoration: none;
}

nav a:hover {
	transform: scale(1.1);
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.width-container {
	max-width: 70%;
}

.edges2 {
	width: 100vw;
	height: fit-content;
	position: fixed;
	left:0;
	z-index: 1;
    justify-content: center;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(4px);
	animation-name: navbar;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
	animation-fill-mode: forwards;  
}

@keyframes navbar {
	from {margin-top:-200px}
	to {margin-top:-5vh}
}


.social-dropdown {
    position: relative;
  }
  
  .social-dropdown-menu {
	position: absolute;
	flex-direction: column;
	top: 150%;
	left: -50%;
	width: 180%;
	padding-left: 15px;
	background-color: rgb(14, 14, 14);
	backdrop-filter: blur(4px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
  }
  
  .social-dropdown-menu a {
	margin-left: 20px;
    display: flex;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  

  .button-style {
	background-color: transparent;
	font-family: "Montserrat", helvetica;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px;
  }

  .button-style:hover + .social-dropdown-menu,
  .social-dropdown-menu:hover {
	opacity: 1;
	border-radius: 10px;
	visibility: visible;
	top: 120%;
	transition: all 0.3s ease-in-out;
  }
  .button-style:hover {
	transform: scale(1.1);
	color: var(--secondaryColor);
	transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);;
  }
  
  
  @media only screen and (max-width: 600px) {
	.edges2{
		padding-top: 20px;
		justify-content: space-around;
	}
	header h3{
		padding: 1rem;
		margin:0;
	}
	.social-dropdown{
		padding: 0;
	}
	header .nav-btn{
		visibility: visible;
		opacity: 1;
	}
	header nav{
		position: fixed;
		top:0;
		left:0;
		height: 100%;
		width:100%;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}
	header .responsive_nav{
		transform: none;
		height: 100vh;
	}
 }
  




