/* Desktop */
@media (min-width:1024px) {
	header {
        padding: 0 10%;
        position: fixed;
        width: 80vw;
        background-color: #111039a1;
        backdrop-filter: blur(10px);
    }
    
    nav a {
        font-size: 1.2rem;
    }
    
    .column-1 {
        flex: 1;
        min-width: 40%;
    }
    .column-2 img {
        flex: 1;
        max-width: 50%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    .content-padding {
        padding-left: 10%;
    }
    p {
        color:var(--textColor);
        font-size: 3rem;
    }
}