html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
  font-weight: 500;
  color: rgb(1, 214, 9);
  text-decoration: inherit;
  overflow: hidden;
}
a.link:hover {
    color: rgb(150, 214, 150)
}
a:hover {
  color: #ffffff;
}
#header-content .contentwrapper {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1340px; 
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("./assets/bg.png");
}


.right {
    float: right;
}

#header {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    position: relative;
    background-color: #1E1E1E;
} 

#header h1 {
    color: #cdcdcd;
    font-size: 250%;
    font-weight: 300;
    margin: 30px 0;
    padding: 0 0 6px;
}

#header h2 {
    color: #cdcdcd;
}

#topnav {
    margin: 0;
    padding: 18px 12px 22px;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.navbtn {
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 8px 10px;
    text-decoration: none;
} 
.navbtn:hover {
    color: #fff;
    background-color: 74A9BE;
}

#header-content {
    display: block;
    box-sizing: border-box;
    padding: 1px 0 50px;
    margin: -30px 0 0;
    text-align: center;
}

.edges {
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  animation-fill-mode: forwards;  
  --b: 2px;   /* thickness of the border */
  --c: rgb(1,214,9);   /* color of the border */
  --w: 50px;  /* width of border */
    --_g: transparent 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

@keyframes example {
  from {padding:0px; margin:50px; opacity: -50%;}
  to {padding:50px; margin:100px; opacity: 100%;}
}
#action {
    background-color: rgb(255, 255, 255);
    padding: 14px 64px;
    font-size: 22px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 340px;
    transition: all 0.5s ease-out;
} 
#action:hover {
    box-shadow: 0px 0px 10px 1px rgb(1,214,9);
    scale: 1.05;
    
}
.tab{
    scale: 0.55;
}
.tab:hover{
    filter: drop-shadow(1px 2px 5px rgba(1,214,9, 0.75)); ;
}
#panels {
    display: block;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
}
#panelswrapper {
    display: flex;
}
.panel {
    width: 50%;
} .panelinner {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .08);
    box-sizing: border-box;
    text-align: center;
    padding: 38px 28px;
    margin: 28px;
}

.edges img{
    width: 35%;
}

h2 {
    font-size: 26px;
    font-weight: 300;
}

#footer {
    box-sizing: border-box;
    background-color: #1E1E1E;
    color: #eee;
    padding: 48px 0;
} #congratulations {
    font-size: 18px;
} #copyright {
    font-size: 14px;
    color: #999;
}

@media only screen and (max-width: 600px) {
    @keyframes example {
        from {padding:0px; margin:50px; opacity: -50%;}
        to {padding:25px; margin:100px 50px; opacity: 100%;}
    }
    .edges img{
        width: 50%;
    }
    #action{
        padding: 14px 40px;
    }
    #header-content .contentwrapper{
        background-image: none;
    }

    #header-content .contentwrapper::before {
        content: "";
        position:absolute;
        width: 90%;
        height: 90%;
        background-size: 30%;
        left: -50vmin;
        top: 50%;
        background-image: url("./assets/bg.png");
        background-repeat: no-repeat;
        transform: rotate(90deg);
        opacity: 0.5;
        animation-name: squiggle-move;
        animation-duration: 7s;
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        animation-fill-mode:both; 
        animation-direction: alternate;
        animation-iteration-count: infinite; 
    }
    @keyframes squiggle-move {
        from {left: -45vmin;}
        to {left:-70vmin;}
    }
}