html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
  font-weight: 500;
  color: rgb(1, 214, 9);
  text-decoration: inherit;
}
a:hover {
  color: #74A9BE;
}
.contentwrapper {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0 3px;
    max-width: 1340px;
    
}

.right {
    float: right;
}

#header {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 22px 0;
    position: relative;
    background-color: #1E1E1E;

} #header h1 {
    color: #0A0D2A;
    font-size: 300%;
    font-weight: 300;
    margin: 40px 0;
    padding: 0 0 6px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#topnav {
    margin: 0;
    padding: 18px 12px 22px;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.navbtn {
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 8px 10px;
    text-decoration: none;
} .navbtn:hover {
    color: #fff;
    background-color: 74A9BE;
}

#header-content {
    display: block;
    box-sizing: border-box;
    padding: 36px 0 152px;
    text-align: center;
}

.edges {
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;  
  --b: 2px;   /* thickness of the border */
  --c: rgb(1,214,9);   /* color of the border */
  --w: 50px;  /* width of border */
    --_g: transparent 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  
}

@keyframes example {
  from {padding:0px; margin:50px}
  to {padding:50px; margin:100px}
}
#action {
    background-color: rgb(1, 214, 9);
    padding: 14px 64px;
    font-size: 22px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
    display: block;
    margin: 0 auto;
    max-width: 340px;
    transition: box-shadow 170ms ease, color 170ms ease;
} #action:hover {
    box-shadow: 0 10px 10px #74A9BE;
    color: #0A0D2A;
}


#panels {
    display: block;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
}
#panelswrapper {
    display: flex;
}
.panel {
    width: 50%;
} .panelinner {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .08);
    box-sizing: border-box;
    text-align: center;
    padding: 38px 28px;
    margin: 28px;
}

h2 {
    font-size: 26px;
    font-weight: 300;
}






#footer {
    box-sizing: border-box;
    background-color: #1E1E1E;
    color: #eee;
    padding: 48px 0;
} #congratulations {
    font-size: 18px;
} #copyright {
    font-size: 14px;
    color: #999;
}