.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto; /* Center the grid horizontally */
    align-content: center; /* Center the content vertically */
    justify-items: center; /* Center the items horizontally */
  }
  

.button-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
  
