.global-padding {
    padding: 3rem;
}

.card {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.platinum .card {
background-image: url('platinum-sponsor-logo.png');
}

.gold .card {
background-image: url('gold-sponsor-logo.png');
}

.silver .card {
background-image: url('silver-sponsor-logo.png');
}

.button-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
