.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content)); /* Adjust the column width as needed */
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto; /* Center the grid horizontally */
    align-content: center; /* Center the content vertically */
    justify-items: center; /* Center the items horizontally */
    place-content: center;
    a {
      aspect-ratio: 16/9;
    }
  }
  

.button-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.techOne-sponsor {
  font-size: 1.5rem; 
  padding: 10px; 
  display: inline-block;
  margin: 10px; 
  text-align: center; 
  clip-path: inset(20px 30px 20px 30px); 

}

