.team-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
}

.team-member {
  text-align: center;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #e6e6e6;
  border-radius: 30px;
}

.team-member img {
  padding-top: 20px;
  width: 70%;
  max-width: 200px;
  border-radius: 50%;
}

.role {
  font-weight: 100;
  font-size: large;
  color: #02a81b;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  /* padding-bottom: 10px; */
}

p.personalLinks>a {
  margin-left: 4px;
  margin-right: 4px;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .team-section {
    grid-template-columns: 1fr;
  }
}

  